.clients__add-button {
    display: block;
    margin: 0 auto;
    width: 216px;
    height: 44px;
    font-size: 14px;
    color: #9873FF;
    background-image: url('../img/addpeople.svg');
    background-repeat: no-repeat;
    background-position: 14px 10px;
    border: 1px solid #9873FF;
}
.disable-scroll{
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header__pop-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    opacity: 0;
    -webkit-transition: opacity var(--transition-time),visibility var(--transition-time);
    -o-transition: opacity var(--transition-time),visibility var(--transition-time);
    transition: opacity var(--transition-time),visibility var(--transition-time);
}