.change__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    transition: cursor 0.3s linear, color 0.3s linear;
}
.change__btn::before{
    width: 17px;
    height: 17px;
    content: ' ';
    background-image: url('../img/edit.svg');
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.change__btn.load::before {
    width: 17px;
    height: 17px;
    content: ' ';
    position: absolute;
    left: 0;
    background-image: url('../img/load.svg');
    animation: rotating 2s linear infinite;
}
.change__btn:hover {
    cursor: pointer;
    color: #9873FF;
}
.header__change-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
 
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.header__change-modal::before {
    content: "";
    vertical-align: middle;
    height: 100%;
}
.header__pop-modal::before {
    content: "";
    vertical-align: middle;
    height: 100%;
}

.header__nav__link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.header__popup{
   position: relative;
   width: 450px;
  height: fit-content;
   margin: 0 auto;
   padding: 15px 0px 30px 0px;
   top: 8%;
   overflow: hidden;
   background: #FFFFFF;
   border-radius: 0px;
   border: none;
   z-index: 10;
   transition: opacity 2.3s linear;
}
.modal__open{
    display: block;
    opacity: 1;
}
.modal__open .header__popup {
    opacity: 1;
}
.modal__head{
   margin-right: 5px;
   color: black;
   font-size: 18px;
}

.header__group{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
   padding: 0 25px;
}
.header__popup-head-group{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.header__close{
   max-width: 43px;
   max-height: 43px;
}
.header__modal-head{
   margin-bottom: 18px;
   font-size: 48px;
   line-height: 48px;
   font-weight: 400;
   color: #FFFFFF;
}
.form__input{
    width: 100%;
   height: 25px;
   margin-bottom: 2px;
   border: none;
   font-size: 18px;
   border-bottom: 1px solid #C8C5D1;
   background-color: transparent;
   color: black;
   font-weight: bold;
   outline: none;
}

.form__input::placeholder {
    text-align: top;
    font-size: 12px;
    vertical-align: top;
}
.form__contact {
    margin-bottom: 0;
    border: 1px solid aqua;
    color: #121723;
    font-size: 14px;
    background-color: transparent;
    margin-bottom: 0;
}

.header__modal-description{
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.header__modal-reg{
    color: #fb6402;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.header__form{
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}
.header__input-form.is-invalid{
    border: 2px solid red;
}
.header__input-form{
    position: relative;
    margin-bottom: 30px;
    margin-right: 27px;
    padding: 1px 1px 1px 29px;
    width: 100%;
    height: 66px;
    border: 1px solid #fb6402;
    border-radius: 40px;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #A1A6B4;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.error{
    position: absolute;
    left: 95px;
    top: 181px;
    color: red;
}
.errorPas{
    position: absolute;
    left: 95px;
    top: 284px;
    color: red;
}
.header__submit {
    width: 35%;
    height: 68px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.show_popup{
    display: block;
}
.fade.animate-open {
    opacity: 1;
}
.fade, .fade.animate-open {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.is-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s,visibility 1s;
    -o-transition: opacity 0.5s,visibility 1s;
    transition: opacity 0.5s,visibility 1s;
}
.header__modal-bottom{
    width: 238px;
    height: 91px;
}
.header__modal-text{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.header__social {
    padding: 32px 6px 7px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.header__form-private{
    color: #FFFFFF;
}
.header__form-private a{
    color: #fb6402;
}
.header__form-private:hover a{
    color: #AA9DFA;
    text-decoration: underline;
    outline: none;
}

.footer__form-private a{
    color: #fb6402;
}
.footer__form-private:hover a{
    color: #AA9DFA;
    text-decoration: underline;
    outline: none;
}
.footer__modal-reg{
    color: #6c8ba7;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* Tooltip */

.header__tooltip{
    width: 100%;
    display: none;
    position: absolute;
    top: 110px;
    right: 0px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 30px;
    background-color: #121723;
}
.tooltip-open{
    display: block;
    visibility: visible;
    z-index: 110;
}
.header__tooltip h2{
    width: 100%;
    font-size: 34px;
    color: #FFFFFF;
}
.header__tooltip p{
    width: 100%;
    font-size: 18px;
    color: #FFFFFF;
}
.label__contacts {
    display: none;
    opacity: 0;
    width: 100%;
    flex-direction: column;
    padding: 25px 30px;
    background-color: #F4F3F6;
}
.contacts__group {
    display: flex;
    flex-direction: row;
}
.open__add-modal {
    display: flex;
    flex-direction: column;
    opacity: 1;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formChange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__contact {
    min-height: 37px;
    margin-bottom: 0;
    padding: 8px 12px;
    border-top: 1px solid #C8C5D1;
    border-bottom: 1px solid #C8C5D1;
    
    background-color: #F4F3F6;
}
.form__contact::placeholder{
    color: #B0B0B0;
}
.open {
    display: flex;
    flex-direction: row;
    opacity: 1;
}
.btn__add_contact{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 15px 0;
    border: none;
    text-align: center;
    font-size: 14px;
    color: #333333;
    margin-bottom: 25px;
    vertical-align: middle;
    font-family: 'OpenSans';
    font-weight: 600;
    background-color: #F4F3F6;
}
.btn__add_contact > svg {
    margin-right: 4px;
}
.btn__add_contact:hover{
    color: #9873FF;
    cursor: pointer;
}
.btn__add_contact:hover > svg >path {
    fill: #9873FF;
}

.btn__save {
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    width: 147px;
    height: 44px;
    color: #FFFFFF;
    background-color: #9873FF;
    border: none;
}
.btn-primary {
    width: 147px;
    height: 44px;
    padding: 12.5px 35px;
    background-color: #9873FF;
    border: none;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.btn-primary:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: #B89EFF;
        border-color: #9873FF;
}
.chancel__close {
    text-decoration: underline;
    color: #333333;
}
#lastName{
    margin-bottom: 26px;
}


/*Стилизация модального окна удаления клиента*/

.hide {
    display: none;
}
.modal__group-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px 88px;
    width: 450px;
    background-color: #FFFFFF;
    margin: 0 auto;
    top: 30%;
    overflow: hidden;
    border-radius: 0px;
    border: none;
    z-index: 10;
}
.modal__group{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    opacity: 1;
    
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.modal__group-head {
    font-size: 18px;
    font-weight: bold;
}
.modal__group-text {
    font-size: 14px;
    text-align: center;
}
.modal__group-delete-btn {
    min-width: 130px;
    text-align: center;
    padding: 15.5px 0;
    font-size: 14px;
    margin-bottom: 5px;
    color: #FFFFFF;
    background-color: #9873FF;
    transition: background 0.3s linear, cursour 0.3s linear;
}
.modal__group-delete-btn:hover {
    cursor: pointer;
    background-color: #B89EFF;
}
.modal__group-cancel {
    font-size: 12px;
    text-decoration: underline;
}
.modal__group-cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17px;
    right: 14px;
    background-repeat: no-repeat;
    background-image: url('../img/Union.svg');
    transition: transform 0.3s linear, border 0.4s linear;
}
.modal__group-cross:hover{
    transform: scale(1.2);
    border: 1px solid red;
}
.contacts__container {
    opacity: 1;
    width: 100%;
    flex-direction: column;
    padding: 25px 30px;
    background-color: #F4F3F6;
}
.btn__add_contact-change{
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-image: url(../img/add.svg);
    border: none;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: 142px 13px;
    background-color: #F4F3F6;
}
.label__last {
    margin-bottom: 25px;
}
#modal__id_clients{
    margin-right: auto;
    color: #B0B0B0;
    font-size: 12px;
}


