.btn__delete-change-modal {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.deleteContacts__button {
    min-width: 27px;
    min-height: 100%;
    outline: none;
    background-color: #E7E5EB;
    border: 1px solid #C8C5D1;
    background-image: url('../img/cancel.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.delete__btn {
    width: 100px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    background-image: url('../img/cancel.svg');
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.modal__group-cross {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 17px;
    right: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/close.svg');
}